@charset "UTF-8";
@import url(https://deptmapp.shinsegae.com/resources/site/css/fonts/fonts.css);
/*@import url(https://deptmapp.shinsegae.com/resources/site/css/common.css);*/
@import url(https://deptmapp.shinsegae.com/resources/site/css/common.guide.css);
@import url(https://deptmapp.shinsegae.com/resources/site/css/common.layout.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video
{ margin:0;padding:0;border:0; word-break: keep-all; font-style: normal;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block;}
html {height:auto;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content:none;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;color:inherit;}
a:hover {text-decoration:none;}
legend, caption {display:none;}
em {font-style:normal;}
img {vertical-align:top; max-width:100%;}
input {vertical-align:middle;}
p,h3,h2,h1{letter-spacing: normal;}
input{-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
input,textarea,button,select{ font-family:'SDGothic', sans-serif; color: #222;font-weight: 400}
section{width:100%;}
body{font-family:'SDGothic', sans-serif;width: 100%;height: 100%;color:#222;background-color: #fff;font-weight: 400;}
video{object-fit: fill;}

html, body {overflow-x: hidden;}
body {overflow-y:scroll;}
body.stop{overflow: hidden}
.ir_text {text-indent: -9999px;overflow: hidden;font-size: 0 ;height: 0;}
.ir_text >*{text-indent: -9999px;overflow: hidden;font-size: 0 ;height: 0;}


.ta_c {text-align: center !important;}
.ta_l {text-align: left !important;}
.ta_r {text-align: right;}
.ml_0 {margin-left: 0px !important;}
.ml_5 {margin-left: 5px !important;}
.ml_10 {margin-left: 10px !important;}
.ml_15 {margin-left: 15px !important;}
.ml_20 {margin-left: 20px !important;}
.ml_30 {margin-left: 30px !important;}
.t_0 {top: 0px !important;}
.mt_0 {margin-top: 0px !important;}
.mt_10 {margin-top: 10px !important;}
.mt_20 {margin-top: 20px !important;}
.mt_30 {margin-top: 30px !important;}
.mt_40 {margin-top: 40px !important;}
.mt_60 {margin-top: 60px !important;}
.mt_90 {margin-top: 90px !important;}

.mb_0 {margin-bottom: 0px !important;}

.c_gray {color: #999 !important;}
.c_red {color: #F22C2D !important;}

.c_blue {color: #1571C6;}
.c_green {color: #31A009;}

.d_flex {display: flex;}
.d_flex.a_c {align-items: center;}
.d_flex.jc_sb {justify-content: space-between;}
.d_flex.j_c {justify-content: center;} 
.inner {margin: 0 16px;}
.bd_light {border:1px solid #DCDCDC; padding: 30px 20px; margin-top: 35px; font-size: 15px;}

#TRINITY_BODY {overflow-x: hidden;}
#TRINITY_LAYOUT {background-color: #fff; display: flex; height: auto;}
#TRINITY_LAYOUT > nav {display: none;}
/*
#TRINITY_LAYOUT > nav h2 a {display: flex; justify-content: center; align-items: center;}
#TRINITY_LAYOUT > nav h2 a img { width: 50%;}

ul.depth1 {margin-top: 160px;}
ul.depth1 > li > a {display: block; padding:10px 0 10px 60px; font-size: 14px; font-weight: 700; color:#222; max-width: 180px;  transition: all 0.2s; background-color: transparent; }
ul.depth1 > li > a:hover {color: #F22C2D;}
ul.depth1 > li > ul.depth2 {max-height: 0; overflow: hidden; opacity: 0; transition: all 0.2s;}
ul.depth1 > li > ul.depth2 li a {display: block; padding-left: 75px;}
ul.depth1 > li.on > a {background-color: #F22C2D; color:#fff; }
ul.depth1 > li.on > ul.depth2 {max-height: 300px; opacity: 1; padding: 14px 0 20px;}
ul.depth1 > li.on > ul.depth2 li {margin-bottom: 9px;}
ul.depth1 > li.on > ul.depth2 li:last-child {margin-bottom: 0px;}
ul.depth1 > li.on > ul.depth2 li a {font-size: 14px; font-weight: 500;}
ul.depth1 > li.on > ul.depth2 li.on,
ul.depth1 > li.on > ul.depth2 li a:hover {color: #000;}*/

#TRINITY_LAYOUT > section {width: 100%; min-width: 100%;  overflow: auto;}
#TRINITY_LAYOUT > section .contents {padding-bottom: 120px; color: #666;}
#TRINITY_LAYOUT > section .contents h1 {font-family: 'SDMyeongjo', sans-serif; color:#222; text-align: center; font-size: 24px; padding-top: 40px;}
#TRINITY_LAYOUT > section .contents h4 {font-size: 15px;font-weight: 400;line-height: 1.4;text-align: left;}

#TRINITY_CONTENTS #INDICATOR {display: none;}


/* 메인 */
.menu0101 h1 { padding-top: 17vw; padding-bottom:80px; font-size: 8vw; font-family: 'SDMyeongjo', sans-serif; text-align: center; position: relative; font-weight: 400; color: #222;}
.menu0101 h1:after {content:""; display: block; width: 1px; height: 60px; position: absolute; bottom: 0px; left: 50%; background-color: #222;}
.menu0101 > figure { position: relative;}
.menu0101 > figure img {width: 100%;}
.menu0101 > figure figcaption {position: absolute; height: 100%; top: 0; left: 0; color: #fff; display: flex; flex-wrap: wrap;   }
.menu0101 > figure figcaption h3 {font-size: 5.3vw; font-weight: 400; font-family: 'SDMyeongjo', sans-serif; padding-bottom: 2vw; padding: 32px 16px 0; line-height: 1.6;}

.menu0101 > p,
.menu0101 > figure figcaption p {font-size: 3.7vw; line-height: 1.4; word-break: keep-all; margin-top: 16px; font-weight: 400;padding: 0 16px;}


.slide_on {width: 100vw;   margin-top: 20vw;}
.slide_on .slick-dots {width: calc(100% - 32px); margin: 0 16px;}

.slide_on .slick-slide {width: 70vw; margin: 0 8px; position: relative;} 
.slide_on .slick-current + .slick-active {} 

.slide_on .slick-slide figcaption {width: calc(100% - 32px);   background-color: rgba(0,0,0,0.7); color: #fff; position: absolute; bottom: 0; padding: 16px;} 
.slide_on .slick-slide figcaption div {height: 24px; line-height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;}
.slide_on .slick-slide figcaption p {color:#8C8C8C; font-size: 13px;}

.slide_pre { margin: 0 16px;}
.slide_pre > div + div { margin-top: 10vw;}
.slide_pre figure img {box-shadow: 7px 7px 0px rgba(0,0,0,0.05);}
.slide_pre figcaption div {font-size: 16px; color: #222; margin-top: 20px;height: 24px; line-height: 24px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; word-break: break-all;}
.slide_pre figcaption p {color: #888; margin-top: 5px;}

.slide_pre .slick-prev,
.slide_pre .slick-next {top: 36%;}

.slider_wrap { margin-top: 30px;}
.slider_wrap .slider_for div img.w100 {width: 100%;}
.slider_wrap .slider_for .slick-track .slick-slide p { font-size: 20px; font-family: 'SDMyeongjo'; line-height: 44px;}
.slider_wrap .slider_nav .slick-track:before, 
.slider_wrap .slider_nav .slick-track:after {display: none;}
.slider_wrap .slider_nav div img.w100 {width: 100%; display: block;}
.slider_wrap .slider_nav .slick-list  {padding: 0 !important; overflow: visible;}
.slider_wrap .slider_nav .slick-track {width: 100% !important; transform: translate3d(0px, 0px, 0px) !important; row-gap: 6px; column-gap: 6px; display: grid; grid-template-columns: repeat(6, 1fr); margin-top: 10px;}
.slider_wrap .slider_nav .slick-track .slick-slide {float: none; width: 100% !important; }
.slider_wrap .slider_nav .slick-track .slick-slide img {border: 2px solid transparent;}
.slider_wrap .slider_nav .slick-track .slick-slide.slick-current img {border: 2px solid #EA4A47;}
.slider_wrap .slider_nav .slick-prev, 
.slider_wrap .slider_nav .slick-next {top: 75%; border: 1px solid #ddd; width: 44px; height: 44px;}
.slider_wrap .slider_nav .slick-prev {left: 50%; margin-left: 26px;}
.slider_wrap .slider_nav .slick-next {right: 0;}


.title_h2 {display: flex; justify-content: space-between; margin: 75px 16px 16px;  align-items: center;}
.title_h2 h2 {font-size: 27px; font-family: "SDMyeongjo"; font-weight: 400; color: #333;}
.more {text-align: center; margin-top: 50px;}
.more a {font-family: "GillSans"; border-bottom: 2px solid #F22C2D; font-weight: 600; font-size: 15px;}

.menu0102_main > figcaption {position: absolute;text-align: center;width: 100%;color: #fff;z-index: 1;top: 50%;transform: translateY(-50%);}
.menu0102_main > figcaption h2 {font-family: 'SDMyeongjo'; font-size: 24px; margin-bottom: 10px; font-weight: 400;}
.menu0102_main > figcaption p {font-size: 13px; font-weight: 300; line-height: 1.4;padding: 0 16px;}

.menu0102_contents1 {margin: 0 16px 0;}
.menu0102_contents2 {margin: 50px 16px;}


.menu0102_contents1 h3,
.menu0102_contents2 h3 {font-family: 'SDMyeongjo'; font-size: 24px; line-height: 1.3; font-weight: 400; color: #222; margin-top: 74px;}
 
.menu0102_contents1 dl dt article div {padding-bottom: 40px;}

.menu0102_contents2 p,
.menu0102_contents1 dl dt div p {margin-top: 30px; color: #222; word-break: keep-all; line-height: 1.45; font-size: 14px;}
.menu0102_contents1 dl dt div p + p {color:#888;} 
.menu0102_contents2 p {color:#222; margin-top: 20px;}

.menu0102_contents3 {position: relative; margin: 100px 16px 150px;}
.menu0102_contents3 dl {position: absolute; height: 100%; display: flex; top: 22%; justify-content: space-between;margin: 0 24px;}
.menu0102_contents3 dl dt {color:#fff;}
.menu0102_contents3 dl dt h3 {font-family: 'SDMyeongjo'; font-weight: 400; font-size: 20px; margin-bottom: 7px;}
.menu0102_contents3 dl dt p {font-size: 3.5vw; line-height: 1.5; }
.menu0102_contents3 dl dd { flex-grow: 0; width: 15%;}
.menu0102_contents3 dl dd img {width: 100%;}

.menu0102_contents3 > a {position: absolute; bottom: -10vw; right: 10vw; width: 30%;}
.menu0102_contents3 > a img {width: 100%;}

.swiper_roll {position: relative; overflow: hidden; margin-top: 5vw;}

.info_location {margin: 0 5vw; } 
.info_location .map figure img {width: 100%;}
.info_location .map div {background-color: #333; color: #fff; display: flex; justify-content: space-between; font-size: 12.5px; padding: 16px 12px;} 
.info_location .address hr {width: 100%; height: 1px; background-color: #E7E7E7; border: 0px; margin: 10vw 0 ;}

.info_location .address h5 {color:#222; padding-bottom: 20px; font-weight: 400; font-size: 18px; margin-top: 40px;} 
.info_location .address table {width: 100%; font-size: 14px;}
.info_location .address table tr th {text-align: left; color: #222; vertical-align: top; width: 100px; font-weight: 400; padding-bottom: 10px;}
.info_location .address table tr td {padding-bottom: 10px; color: #888;} 
.info_location .address table.floor tr th {font-family: "SDMyeongjo"; font-size: 22px; line-height: 32px;}
.info_location .address table.floor tr td {line-height: 22px;}
.info_location .address table.floor tr td a {width: 32px; height: 32px; text-indent: -999px; background-image: url('../../img/trinity/i_map.png'); background-repeat: no-repeat; background-size: 100%; display: block; overflow: hidden;}
.info_location .address table + small {color: #888; margin-top: 1.2vw; display: block; font-size: 14px;}

.info_notice {position: relative; margin-top: 15vw;}
.info_notice > a {position: absolute; width: 7vw; height: 7vw; line-height: 7vw; background-color: #F22C2D; z-index: 2; text-align: center; display: block; color: #fff; right: 0; bottom: 0px; font-size: 1vw;}
.info_notice > figure img {width: 100%;}
.info_notice .inner {position: absolute; width: 100%; height: 100%; display: flex; align-content: center; top:0; left: 0; justify-content: center; align-items: center; margin: 0 0 !important;}
.info_notice .inner div {width: 80%; height: 80%; background-color: #F6F6F6; z-index: 2; display: flex; align-items: center;}
.info_notice .inner div dl {margin: 0 auto; width: 84%;}
.info_notice .inner div dl dt { position: relative; } 
.info_notice .inner div dl dt:last-child {margin-top: 32px; padding-top: 32px; border-top: 1px solid #E5E5E5;}
.info_notice .inner div dl dt small {color:#8C714E; font-size: 3.5vw;}
.info_notice .inner div dl dt p {color:#222; font-family: "SDMyeongjo"; font-size: 6vw; line-height: 1.4; margin-top: 10px; padding-bottom: 16px;}
.info_notice .inner div dl dt a {font-family: "GillSans"; border-bottom: 2px solid #000; font-weight: 600; font-size: 4vw; }

.processBox {margin-top: 35px;}
.processBox ol {width: 100%; margin: 0 auto;}
.processBox ol li:nth-child(odd) {border-radius: 4px; border: 1px solid #888; display: flex; padding: 15px 25px;}
.processBox ol li:nth-child(even) {width: 24px; height: 24px;background-image: url(../../img/trinity/chevron-right.png); background-size: cover; transform: rotate(90deg); margin: 0px auto;}
.processBox ol li:first-child::after {display: none;}
.processBox ol li span {font-size: 15px; color:#BCBCBC; padding-right: 10px;}
.processBox ol li div { color: #333;}
.processBox ol li div p {font-size: 15px;}
.processBox ol li div p small {color:#888;  }

.btnBox {text-align: center; margin-top: 25px;}
.btn_black {display: inline-block; height: 40px; line-height: 40px; color: #fff; background-color: #222; font-size: 16px; text-align: center; min-width: 120px;}
.btn_red {display: inline-block; height: 40px; line-height: 40px; color: #fff; background-color: #F22C2D; font-size: 16px; text-align: center; min-width: 120px;}
.btn_disabled {display: inline-block; height: 40px; line-height: 40px; color: #fff; background-color: #DCDCDC; font-size: 16px; text-align: center; min-width: 120px;}
.btn_download {height: 40px; line-height: 40px; border-radius: 3px; border: 1px solid #888; padding: 0 70px 0 15px; background-image: url(../../img/trinity/box-arrow-in-down.svg); background-repeat: no-repeat; background-position: right 15px center; color: #222; background-color: #fff;}


.fileDownload h4:first-child {padding-top: 0px;}
.fileDownload h4 {padding: 40px 0 20px;}
.fileDownload ul {display: grid; grid-template-columns: repeat(1, 1fr); row-gap: 10px; column-gap: 10px;}
.fileDownload ul li {font-size: 14px; line-height: 1.4; border-radius: 3px; border: 1px solid #ddd; padding-left: 15px; padding-right: 40px; height: 52px; display: flex; align-items: center; word-break: keep-all; background-image: url(../../img/trinity/box-arrow-in-down.svg); background-position: right 10px center; background-repeat: no-repeat;}

figure > img.w100 {width: 100%;}

.trinity_top {padding: 100px 0;}
.trinity_top .top_inner .top_copy {font-size: 18px; line-height: 1.6; color: #222; text-align: center;}

.traffic_top {padding: 100px 0 60px;}
.traffic_top .top_inner {padding: 30px 0; border: 1px solid #F3F3F3;}
.traffic_top .top_inner {font-size: 18px; line-height: 1.4; color: #222; text-align: center;}

.traffic_map {padding: 24px 0; border-bottom: 1px solid #eee; margin-bottom: 70px; line-height: 1.4; font-size: 14px;}
.traffic_map address {color: #222;}
.traffic_map p {color: #888; margin-top: 7px;}

.appliDetailCont{position: relative;margin-top: 30px;}
.appliDetailCont>div{position: relative;color: #666;font-size: 14px;font-weight: 400;line-height: 1.5;}
.appliDetailCont h3{font-size: 18px;font-weight: 500;margin-bottom: 40px;}
.appliDetailCont h4{position: relative;color: #333;font-size: 18px;font-weight: 500; padding-bottom: 10px;}
.appliDetailCont p + h4 {margin-top: 40px;}
.appliDetailCont p + p,
.appliDetailCont h4 + p {line-height: 1.7;}
.appliDetailCont>h4 p {font-size: 16px;padding-top: 10px;font-weight: 400;}
.appliDetailCont>h5{color: #666;font-size: 16px;font-weight: 500;margin-bottom: 7px;}
.appliDetailCont > div + h3 {margin-top: 32px;}
.appliDetailCont > div + h4 {margin-top: 24px;}
.appliDetailCont > div + h5 {margin-top: 16px;}
.appliDetailCont>div>div {color: #666;padding-left: 24px;line-height: 28px;}
.appliDetailCont>div + div{margin-top: 20px;}
.appliDetailCont>div>ul>li{color: #666;font-size: 16px;font-weight: 400;line-height: 28px;padding-left: 21px;}



.DetailComTable{width: 100%;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;table-layout: fixed;}
.DetailComTable thead tr th{padding: 16px 0;background-color: #F6F6F6;border-right: 1px solid #e5e5e5;font-weight: 500; font-size: 15px; }
.DetailComTable thead tr th:last-child{border-right: none;}
.DetailComTable tbody tr td{padding: 15px 20px;text-align: center;line-height: 21px;vertical-align: middle;border-top: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5; color: #666; font-size: 15px;} 
.DetailComTable tbody tr td.tbl {border-left: 1px solid #e5e5e5 !important;}
.DetailComTable.big tbody tr td{padding: 25px 20px;}
.DetailComTable::before {content: ""; width: 2px; height: 100%; background-color: #fff; display: block; position: absolute; left: -1px; top: 0;}
/* 수정 (S)*/
.DetailComTable tr td.rightArrow {background-image: url('../../images/trinity/i_select_arrow.png'); background-repeat: no-repeat; background-position: right 20px top 50%; background-size: 16px;}
/* 수정 (E)*/
.DetailComTable tbody tr.depth2 td:not(:first-child) {border-top:1px dashed #e5e5e5;}
.DetailComTable tbody tr.depth2 td:nth-child(2) {padding-left: 40px; color: #999;}

.inner hr {border:1px solid #F3F3F3;}
/* 수정 (S)*/
.inner .gu_kr_title {position: relative;}
.inner .gu_kr_title > .btn_download {position: absolute; right: 0;}
/* 수정 (E)*/

.trafficTab .gu_kr_btnsTab a span {display: none;}

.trafficTable {font-size: 15px; line-height: 1.8; color: #222; width: 100%;}
.trafficTable tr  {display: block;}
.trafficTable tr th {display: block;font-weight: 400; vertical-align: top; text-align: left; padding-top: 16px; }
.trafficTable tr td {display: block; word-break: keep-all; width: 100%; font-size: 14px; color: #888; padding-top: 8px;}


/* 편의시설 */
.convGrid ul {display: grid; grid-template-columns: repeat(1, 1fr); column-gap: 10px; row-gap: 10px; margin-top: 40px;}
.convGrid ul li div {font-size: 15px; margin: 20px 0 40px;}
.convGrid ul li div h4 {font-size: 24px; color: #222;}
.convGrid ul li div p {margin: 10px 0 25px; line-height: 1.5; font-size: 14px; color: #888;}
.convGrid ul li div table {font-size: 14px;}
.convGrid ul li div table tr th {width: 80px; vertical-align: top; color: #222; font-weight: 400; line-height: 1.4;}
.convGrid ul li div table tr td {padding-bottom: 12px; word-break: keep-all; line-height: 1.4; color: #888;}

/* 월간일정 */
.searchBar {background-color: #F6F6F6; display: flex; justify-content: center; align-items: center; padding: 30px 0; margin: 60px 0 0;}
.searchBar > span {display: none;}
.searchBar select {background-color: #fff; height: 40px; line-height: 40px; border: none; -webkit-appearance: none; margin-left: 4px;padding: 0 42px 0 17px; background-image: url('../../img/trinity/caret-down-fill.png');background-size: 13px; background-repeat: no-repeat; background-position: right 10px center;}
.searchBar button {background-color: #222; color:#fff; display: block; width: 84px; height: 40px; margin-left: 24px;}
.searchBar button span {display: inline-block; font-size: 14px; line-height: 24px; height: 24px; padding-left: 24px; background-image: url(../../img/trinity/i_search.png); background-size: 24px; background-repeat: no-repeat;}
.planMonth {margin-top: 40px;}
.planMonth ul {display: grid; grid-template-columns: repeat(1, 1fr); column-gap: 0; row-gap: 60px;}
.planMonth ul li {text-align: left;}
.planMonth ul li div {margin: 30px 0 10px; color: #222;}
.planMonth ul li p {color:#8C8C8C; margin-bottom: 20px;}

.planMonth .gu_paging {margin-top: 60px; text-align: center;font-family: 'GillSans', 'SDGothic', sans-serif; font-weight: 400; }
.planMonth .gu_paging a img {vertical-align: middle;}
.planMonth .gu_paging span {margin: 0 50px;}
.planMonth .gu_paging span a {display: inline-block;font-size: 16px;padding:2px;margin:0 15px; color: #888;}
.planMonth .gu_paging .gu_en_lineBtn.on {color:#222;}
.planMonth .gu_paging .gu_en_lineBtn.on:after {background-color:#222;}
.planMonth .gu_paging .gu_en_lineBtn:hover:after {background-color:#222;}
.planMonth .gu_paging span a.on {color:#222;border-bottom: 2px solid #2d2d2d; font-weight: 500;}

/* 수정 (S) 페이징 버튼 추가 2023.07.27*/
.gu_paging button {text-indent: -999px; overflow: hidden; width: 24px; height: 24px; background-image: url('../../images/chevron-double-left.png'); background-size: 16px; background-position: 50% 50%; background-repeat: no-repeat; cursor: pointer}
.gu_paging .gofirst {background-image: url('../../images/chevron-left.png');}
.gu_paging .gollast {transform: rotate(180deg);;}
.gu_paging .golast {background-image: url('../../images/chevron-left.png'); transform: rotate(180deg);}
/* 수정 (E) 페이징 버튼 추가 2023.07.27*/


h2.gu_kr_title {padding-top: 60px;font-size: 24px; color: #222; font-family: 'SDMyeongjo', sans-serif; font-weight: 500;text-align: center; line-height: 1;}
h2.gu_kr_title small {display: block; text-align: center; font-size: 18px; color: #938165; font-family: 'SUIT'; font-weight: 400; margin-bottom: 35px;}

/* 수정 (S)*/
h2.gu_kr_month_title {padding-top: 35px;font-size: 38px; color: #222; font-family: 'SDMyeongjo', sans-serif; font-weight: 500;text-align: center; line-height: 1;}
h2.gu_kr_month_title small {display: block; text-align: center; font-size: 26px; color: #938165; font-family: 'SUIT'; font-weight: 400; margin-bottom: 20px;}
/* 수정 (E)*/

.infoDetail {margin-top: 40px;}
.infoDetail dl dt > button {width: 50%; margin: 30px auto 0; display: block; height: 42px; line-height: 42px;}
.infoDetail dl dd {margin-top: 80px; border-top: 1px solid #ddd; padding-top: 30px;}
.infoDetail dl dd table {font-size: 15px; line-height: 1.3;}
.infoDetail dl dd table tr th {vertical-align: top; color: #222; font-weight: 400; text-align: left; width: 100px;}
.infoDetail dl dd table tr td {word-break: keep-all; padding-bottom: 8px; text-align: left;}

.infoCont {padding: 60px 0 0; font-size: 16px; line-height: 1.6; border-top: 1px solid #ddd; margin-top: 30px; text-align: left;}
.infoCont div {color: #222; margin-top: 60px;}
.infoCont p {color: #888;}
.infoList {margin-top: 60px; padding: 30px 20px 60px; border-top: 1px solid #ddd;}
.infoList table {font-size: 15px;}
.infoList table tr th {color: #222;font-weight: 400; width: 100px; vertical-align: top; line-height: 1.3; text-align: left;}
.infoList table tr th span {background-image:  url(../../img/trinity/chevron-up.png); background-repeat: no-repeat; width: 12px; height: 12px; display: inline-block; background-size: 100%; margin-left: 17px;}
.infoList table tr th span.chev-down {transform: rotate(180deg);}
.infoList table tr td {color: #888; padding-bottom: 10px; text-align: left; line-height: 1.3;}
.infoList table tr td a {font-size: 15px; color: #222;}


.planYear { margin-top: 40px; position: relative;}

.planYear ul {border-top: 1px solid #eee; margin-top: 50px;}
.planYear ul li {border-bottom: 1px solid #eee; padding: 30px 0; line-height: 1.8; color: #222; font-size: 15px;}
.planYear ul li strong {color:#938165; font-weight: 400;}
.planYear ul li span {display: block; padding-bottom: 20px; color: #888;}
.planYear ul li .btn_red {min-width: 90px; height: 30px; line-height: 30px; font-size: 13px;}

.planYear table {width: 100%; table-layout: auto;}
.planYear table thead {background-color: #F6F6F6;}
.planYear table thead tr th,
.planYear table tbody tr td {font-size: 16px; text-align: center; padding: 15px; border-right: 1px solid #E5E5E5; border-bottom: 1px solid #E5E5E5; text-align: center; color: #333;}
.planYear table tbody tr td {color: #888; padding: 6px 15px;}
.planYear table thead tr th:last-child,
.planYear table tbody tr td:last-child {border-right: 0px solid #000;}
/* 수정 (S)*/
.planYear table thead tr:first-child{border-top: 3px solid #e5e5e5;}
.planYear table tbody tr:last-child{border-bottom: 3px solid #e5e5e5;}

.planYearPlanMonth {margin-bottom: 15px;}
.noPlanYear {border-top: 1px solid #E5E5E5; margin-top: 40px; position: relative; padding:100px; text-align:center; font-size: 18px; color: #222; font-weight: 400;}
.trinityScheduleExhbNm {cursor: pointer;}
/* 수정 (E)*/

.equipDetail h5 {font-size: 18px; color: #222; font-weight: 400; padding-bottom: 12px;}
.equipDetail > p {font-size: 14px; line-height: 1.5;}
.equipDetail p + h5 {margin-top: 40px;}
.equipDetail dl {margin-top: 50px; margin-bottom: 20px;} 
.equipDetail dl dt figure {box-shadow: 10px 10px 0px #f6F6F6;}
.equipDetail dl dd {flex: 1;   padding-top: 40px;}
.equipDetail dl dd h5 {padding-bottom: 20px;}
.equipDetail dl dd p {line-height: 1.6;}

.tabWrap .btns_tab {margin-bottom: 40px;}
.list_tab { margin-bottom: 40px;width: 100%;font-size: 0; display: flex;}
.list_tab a {float: 1; padding:0 15px; vertical-align: top; background: #f6f6f6; font-size: 14px; height:45px; line-height: 47px; color: #666; width: 50%; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing:border-box; border:1px solid #e5e5e5;border-right:0;color:#888;transition:all .3s;}
.list_tab.report_tab a {width: 33.3333%;}
.list_tab a:last-child {border-right:1px solid #e5e5e5;}
.list_tab a.on {background: #fff; color: #222; border-top: 1px solid #2d2d2d; font-weight: 600;}
.list_tab a:hover {background: #fff; color: #222;}

.sub_contents_tab, 
.contents_tab {display: none;}
.sub_contents_tab.on, 
.contents_tab.on {display: block;}

#TRINITY_INFO .hallDetail {border-top:1px solid #E7E7E7; border-bottom: 1px solid #E7E7E7; display: flex; justify-content: center; padding: 20px 0; margin-top: 40px;}
#TRINITY_INFO .hallDetail dd {font-size: 14px; color: #888; position: relative; flex: 1; text-align: center; }
#TRINITY_INFO .hallDetail dd::after {content: ""; position: absolute; width: 1px; height: 20px; background-color: #E7E7E7; right: 0; display: block; top: 50%; margin-top: -10px;}
#TRINITY_INFO .hallDetail dd:last-child::after {display: none;}
#TRINITY_INFO .hallDetail dd span {color: #333; font-family: 'SDMyeongjo'; font-size: 16px; padding-bottom: 10px; display: block; text-align: center;}
#TRINITY_INFO .hallinfo {text-align: center;}
#TRINITY_INFO .hallinfo h4 {font-size: 18px; color: #222; margin: 50px 0 20px;}
#TRINITY_INFO .hallinfo p {font-size: 15px;line-height: 1.6;padding-bottom: 40px;text-align: left;color: #888;}
#TRINITY_INFO .hallinfo a {font-size: 15px; color: #000; border-bottom: 2px solid #F22C2D;}
#TRINITY_INFO .sub_contents_tab .gu_kr_title {padding-top: 0px;text-align: left;}
#TRINITY_INFO .swiper_hall {position: relative; margin-top: 100px; padding: 0 0 80px;   overflow: hidden; width: calc(100% + 32px); margin-left: -16px;}
#TRINITY_INFO .swiper_hall .swiper-pagination-fraction {bottom: 0px;}
.swiper-button-prev, 
.swiper-button-next {color: #000 !important; width: 24px !important; height: 24px !important; bottom: -3px; left: 50%;}
.swiper-button-prev {margin-left: -100px;}
.swiper-button-next {margin-left: 80px;}
.swiper-button-next:after, 
.swiper-button-prev:after {font-size: 14px !important;}

#TRINITY_SEAT .sub_contents_tab > p {text-align: center; font-size: 14px; line-height: 1.4; padding-top: 10px;}
#TRINITY_SEAT .sub_contents_tab h1.gu_kr_title {padding-top: 50px;}

#TRINITY_SEAT .seatDetail h3 {font-size: 22px; text-align: center; font-family: 'SDMyeongjo'; font-weight: 400; color: #222;}
 
#TRINITY_SEAT .bd_light figure {max-width: 700px; margin: 0 auto;}
#TRINITY_SEAT .seatDetail ul {}
#TRINITY_SEAT .seatDetail ul li {position: relative; border-bottom: 1px solid #eee; padding: 24px 0; }
#TRINITY_SEAT .seatDetail dl {display: flex; justify-content: center; font-size: 13px; margin-top: 10px; flex-wrap: wrap;padding: 0 10px; line-height: 1.6;}
#TRINITY_SEAT .seatDetail dl dt {color: #888;}
#TRINITY_SEAT .seatDetail dl dt span {color: #333;}
#TRINITY_SEAT .seatDetail dl dd {padding: 0 10px;}

.fclear{}
.fclear:after{display:block;content:"";clear:both;}
#SERVICE {position: relative;text-align: center;}

#SERVICE_NOTICE .gu_tbl_wrap .gu_tbl_inner ul li{padding: 20px 10px 20px 5px}
#SERVICE_NOTICE .gu_tbl_wrap .gu_tbl_inner ul li.info .tit .con{font-size: 14px;}
#SERVICE_NOTICE .gu_tbl_wrap .gu_tbl_inner ul li.info .loc{font-size: 12px;}
#SERVICE_NOTICE .gu_tbl_wrap .gu_tbl_inner ul li.info .date{font-size: 12px;}


/* notice_view.jsp */ 
#SERVICE_NOTICE .gu_tbl_wrap { margin-top: 50px;}
.ellipsis-vertical {display: inline-block;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden; white-space: normal; word-wrap: normal !important; line-height:22px;max-height:3em;display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;}

/* notice_view.jsp */

#SERVICE_NOTICE_VIEW { padding: 0 20px;}
#SERVICE_NOTICE_VIEW .btn_back {width: 18px; height: 13px; position: absolute; left: 15px; top: 15px; padding: 10px;}
#SERVICE_NOTICE_VIEW .view_content { font-size: 12px;line-height:20px;color:#666;padding:20px 0px; text-align: left;}
#SERVICE_NOTICE_VIEW .view_btn {margin-top: 20px; margin-bottom: 100px;}
#SERVICE_NOTICE_VIEW .view_btn .view_list_btn .gu_btn_white:hover {transition: all 0.2s;}

#SERVICE_NOTICE_VIEW .view_btn .view_arrow_btn .gu_btn_arrow {opacity: 0.6;}
#SERVICE_NOTICE_VIEW .view_btn .view_arrow_btn .gu_btn_arrow:first-child {margin-right: 30px;}
#SERVICE_NOTICE_VIEW .view_btn .view_arrow_btn .gu_btn_arrow:before {border: 1px solid rgba(0,0,0,0.1);}
#SERVICE_NOTICE_VIEW .view_btn .view_arrow_btn .gu_btn_arrow img {vertical-align: middle;}

 

.slide_7 img.w100 {width: 100%;}
.slide_7 .slick-slide {padding: 0 8px;}
.slide_7 .slick-dots {display: flex; justify-content: center; padding-top: 24px;}
.slide_7 .slick-dots li button {width: 13px; height: 13px; border-radius: 100%; background-color: #ddd; text-indent: -99px; overflow: hidden; display: block; margin: 0 5px;}
.slide_7 .slick-dots li.slick-active button {background-color: #888;}


@media (max-width: 1380px) {
 
}
@media (max-width: 1180px) {
 

}

#SERVICE_INFO_PROGRAMS .inner .info_box {
    height: 60px;
    line-height: 60px;
    color: #fff;
    width: 100%;
    font-size: 14px;
    background-color: #2d2d2d;
    padding: 0 30px;
    box-sizing: border-box;
}

#SERVICE_INFO_PROGRAMS .inner .info_box .location_str:before {
    content: "";
    position: relative;
    display: inline-block;
    top: 2px;
    width: 10px;
    height: 13px;
    background: url("../../images/trinity/ico_location.png") 0 0 no-repeat;
    margin-right: 10px;
}

#SERVICE_INFO_PROGRAMS .inner .info_box .btn_find {
    float: right;
    display: block;
}

#SERVICE_INFO_PROGRAMS .inner .info_box .btn_find:after {
    content: "";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 4px;
    height: 6px;
    margin-left: 5px;
    background: url("../../images/trinity/ico_detail_arrow.png") 0 0 no-repeat;
}

/* 페이징 버튼 추가 2023.07.27*/
.gu_paging button {text-indent: -999px; overflow: hidden; width: 24px; height: 24px; background-image: url('../../images/chevron-double-left.png'); background-size: 16px; background-position: 50% 50%; background-repeat: no-repeat; cursor: pointer}
.gu_paging .gofirst {background-image: url('../../images/chevron-left.png');}
.gu_paging .gollast {transform: rotate(180deg);;}
.gu_paging .golast {background-image: url('../../images/chevron-left.png'); transform: rotate(180deg);}

/* 240103 조선우추가 */
.menu0102_contents1 dl dt article div>span{color: #888888;font-size: 15px;line-height: 22px;display: block;margin-top: 10px;}
.slick-slide.slick-current{opacity: 0.3;}
.menu0103_new{margin: 75px 20px;}
.menu0103_new>h3{
    font-family: 'SDMyeongjo';
    font-size: 24px;
    line-height: 1.3;
    font-weight: 400;
    color: #222;
}
.menu0103_new>span{display: block;margin-top: 10px;color: #888;font-size: 15px;line-height: 22px;}
.menu0103_new{}
.menu0103_new ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.menu0103_new ul>li{
    width: 100%;
    margin-top: 50px;
}
.menu0103_new ul>li:nth-child(odd){
    padding-right: 40px;
}
.menu0103_new ul>li>p{
    line-height: 18px;
}
.menu0103_new ul>li>p>span{
    font-size: 15px;
    color: #222;
    font-weight: 600;
}
.menu0103_new ul>li>p>span:nth-child(2){display: inline-block;margin-left: 20px;position: relative;}
.menu0103_new ul>li>p>span:nth-child(2)::before{
    display: block;
    content: '';
    position: absolute;
    top: 1px;
    left: -13px;
    width: 1px;
    height: 14px;
    background-color: #999;
}
.menu0103_new ul>li>strong{
    color: #666;
    font-weight: 200;
    display: block;
    margin: 15px 0 0 0;
    font-size: 15px;
    line-height: 22px;
}

.newHallList{
    /* display: flex; */
    /* margin-top: 50px; */
}
.newHallList>li{
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 2vw;
    margin-top: 75px;
}
.newHallList>li:first-child{margin-top: 0;}
.newHallList>li:last-child{padding-right: 0;}
.newHallList>li>img{
    display: block;
    width: 100%;
}
.newHallList>li>strong{
    display: block;
    margin-top: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    width: 100%;
}
.newHallList>li>p{
    margin-top: 15px;
    color: #888888;
    line-height: 24px;
    font-size: 15px;
}
.newHallList>li>div{
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
}
.newHallList>li>div>ul{}
.newHallList>li>div>ul>li{
    display: flex;
    margin-top: 10px;
}
.newHallList>li>div>ul>li:first-child{margin-top: 0;}
.newHallList>li>div>ul>li>strong{
    font-size: 12px;
    color: #888;
    font-weight: 500;
    width: 30%;
    padding-right: 10px;
}
.newHallList>li>div>ul>li>span{
    color: #222;
    font-size: 12px;
    font-weight: 400;
    width: 70%;
}
.c_orange{color: #F77636;}
.c_purple{color: #7B2DB8;}
.trafficTable tr th>span{display: inline-block;margin-right: 6px;}
figure.menu0102_main:after{display: block;content: '';position: absolute;top:0;left:0;width: 100%;height: 100%;background: #000;opacity: 0.2;}
figure.menu0102_main{position: relative;}
.menu0101 > figure:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    background: linear-gradient(270.35deg, rgba(5, 5, 5, 0.8) 0.85%, rgba(0, 0, 0, 0) 139.08%);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 13%, rgb(0 0 0 / 50%) 100%);
}

.new013{
    margin: 75px 16px 0;
}
.new013 .new013Div{
    margin-top: 70px;
}
.new013 .new013Div>img{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
.new013 .new013Div>h3{
    font-size: 22PX;
    font-family: 'SDMyeongjo', sans-serif;
    color: #222;
    font-weight: 400;
}
.new013 .new013Div>p{
    color: #888;
    font-size: 15px;
    line-height: 26px;
    margin-top: 15px;
    font-weight: 300;
}
.new013 .new013Div>div{
    /* display: flex; */
    margin-bottom: 30px;
}
.new013 .new013Div>div>img{
    display: block;
    width: 100%;
    /* padding-right: 25px; */
}
.new013 .new013Div>div>img:last-child{
    padding-right: 0;
    /* padding-left: 25px; */
    margin-top: 20px;
}
.new013 .new013Div>ul{
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 70px;
}
.new013 .new013Div>ul>li{
    /* width: calc(50% - 25px); */
    /* padding-right: 50px; */
    margin-bottom: 40px;
}
.new013 .new013Div>ul>li:nth-child(2n){padding-right: 0;}
.new013 .new013Div>ul>li>img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.new013 .new013Div>ul>li>p{
    color: #222;
    font-size: 15px;
    font-weight: 800;
}
.new013 .new013Div>ul>li>strong{
    color: #888888;
    font-weight: 300;
    line-height: 24px;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}