/* 국문 산돌 고딕 */
@font-face {
    font-family: 'SDGothic';
    font-style: normal;
    font-weight: 400;
    src: url(SDDOESGothicNeoaTTF-dRg.eot);
    src: url(SDDOESGothicNeoaTTF-dRg.eot?#iefix) format('embedded-opentype'), url(SDDOESGothicNeoaTTF-dRg.woff) format('woff');
}

@font-face {
    font-family: 'SDGothic';
    font-style: normal;
    font-weight: 600;
    src: url(SDDOESGothicNeoaTTF-fSm.eot);
    src: url(SDDOESGothicNeoaTTF-fSm.eot?#iefix) format('embedded-opentype'), url(SDDOESGothicNeoaTTF-fSm.woff) format('woff');
}

/* 국문 산돌 명조 */
@font-face {
    font-family: 'SDMyeongjo';
    font-style: normal;
    font-weight: 500;
    src: url(SDDOESMyeongjoNeoaTTF-dMd.eot);
    src: url(SDDOESMyeongjoNeoaTTF-dMd.eot?#iefix) format('embedded-opentype'), url(SDDOESMyeongjoNeoaTTF-dMd.woff) format('woff');
}

@font-face {
    font-family: 'GB';
    src: url(GmarketSansTTFBold.eot);
    src: url(GmarketSansTTFBold.eot?#iefix) format('embedded-opentype'), url(GmarketSansTTFBold.woff) format('woff');
}

@font-face {
    font-family: 'GM';
    src: url(GmarketSansTTFMedium.eot);
    src: url(GmarketSansTTFMedium.eot?#iefix) format('embedded-opentype'), url(GmarketSansTTFMedium.woff) format('woff');
}

/* 영문 Garamond */
@font-face {
    font-family: "Garamond";
    src: url("https://use.typekit.net/af/e2b8db/00000000000000003b9ade23/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e2b8db/00000000000000003b9ade23/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e2b8db/00000000000000003b9ade23/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

/* 영문 Gillsans */
@font-face {
    font-family: "GillSans";
    src: url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/078c93/00000000000000003b9b1f81/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GillSans";
    src: url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/e48373/00000000000000003b9b1f86/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "GillSans";
    src: url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/202898/00000000000000003b9b1f8a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
    font-style: normal;
    font-weight: 600;
}

/* J송명 */
@font-face {
    font-family: "JSongMyung";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TmoneyRoundWind';
    font-weight: 400;
    font-style: normal;
    src: url('TmoneyRoundWind-Regular.eot');
    src: url('TmoneyRoundWind-Regular.eot?#iefix') format('embedded-opentype'),
        url('TmoneyRoundWind-Regular.woff2') format('woff2'),
        url('TmoneyRoundWind-Regular.woff') format('woff'),
        url('TmoneyRoundWind-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'TmoneyRoundWind';
    font-weight: 800;
    font-style: normal;
    src: url('TmoneyRoundWind-ExtraBold.eot');
    src: url('TmoneyRoundWind-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TmoneyRoundWind-ExtraBold.woff2') format('woff2'),
        url('TmoneyRoundWind-ExtraBold.woff') format('woff'),
        url('TmoneyRoundWind-ExtraBold.ttf') format("truetype");
    font-display: swap;
}